<% content_for :title, "Telephone Directory-MNRYP" %>
<%= render 'Homepage/navmenu' %>

<div class='container-fluid'>
	<div class="mnryp_word">
	    <span style="font-size: 3vw"> <%= t('emergency_numbers') %> </span>
	 </div>
	<div class="row">
	  	<% @important_numbers.each do |number| %>
	  		<% phone_numbers = number.phone.split(",") %>
			  	<div class="col-md-3">
			    <li class="list-group-item ">
			    <%= number.name %><br />
			    <span style="color: #c75252"><%= number.address %></span><br />
			    <% phone_numbers.each do |num| %>
			    	<span class="badge badge-light badge-pill">
			    	<a href="tel:<%= num %>" ><i class="fas fa-phone-alt"></i> <%= num %></a>
		    	</span>
			    <% end %>
			   	
			  </li>
		    </div>
	    <% end %>
	</div>
  <hr />
  <div class="mnryp_word">
	    <span style="font-size: 3vw"> <%= t('all_directory')%> </span>
	 </div>
  <div class="row">
	  <% @telephone_numbers.each do |letter, telephone_number|%>
	  <div class="col-md-4 mt-2 ">
	  		<div class="mnryp_word">
                    <span><%= letter %></span>
                 </div>
	  		<ul class="list-group mb-2">
  			<% telephone_number.each do |number| %>
  			<% phone_numbers = number.phone.to_s.split(",") %>
			  <li class="list-group-item">
			    <%= number.name %><br />
			    <span style="color: #c75252"><%= number.address %></span><br />
			    <% phone_numbers.each do |num| %>
			    	<span class="badge badge-light badge-pill">
			    	<a href="tel:<%= num %>" ><i class="fas fa-phone-alt"></i> <%= num %></a>
		    	</span>
			    <% end %>
			  </li>
		    <% end %>
			</ul>
	  	</div>
	  <% end %>
</div>
</div>
