
  <!---------------------------------------------------------------------------------->

<footer class="footer pt-4 footer1 text-white pb-0">
     <div class="row">
        <div class="col-md-4 justify-content-center">
         <%= cl_image_tag("https://res.cloudinary.com/di7sekeem/image/upload/v1614668262/mnryplogo_arr1rm.png", :quality=>"auto:low",:class=>"rounded-circle p-5",:fetch_format=>"auto",:flags=>"lossy",:loading=>"lazy",:size=>"250") %>

        </div>
        <div class="text-white col-md-4 p-4">
            <h5 class="text-white"><%= t('contacts') %></h5>
            <h6 class="text-white"><%= t('address') %></h6>
            <address><%= t('five') %><sup>th</sup> <%= t('location1') %><br /><%= t('location2') %></address>
            <h6 class="text-white"><%= t('email') %></h6>
            <address>info@narmadainfosys.com</address>
            <h6 class="text-white"><%= t('phone') %></h6>
            <p><%= t('number') %></p>
        </div>
        <div class="col-md-4 p-4">
        <h5 class="text-white"><%= t('follow_us') %></h5>
        <ul class="list-unstyled">
        <li><a href="https://www.facebook.com/mnryp/" target="_blank" style="text-decoration:none">
                <i class="fab fa-facebook fa-2x"></i>
                <span class="text-white"> <%= t('directory') %></span>
             </a>
        </li>
        <li><a href="https://www.facebook.com/fooding.mnryp" target="_blank" style="text-decoration:none">
        <i class="fab fa-facebook fa-2x"></i>
        <span class="text-white"> <%= t('fooding') %></span>
        </a></li>
        <li><a href="https://www.facebook.com/cakesmnr" target="_blank" style="text-decoration:none">
        <i class="fab fa-facebook fa-2x"></i>
        <span class="text-white"> <%= t('cakes') %></span>
        </a></li>
       <!----- <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>--->
        <!-----<li><a href="#"><i class="fab fa-instagram fa-2x" style="color:#be113d"></i></a></li>--->
       <!----- <li><a href="#"><i class="fab fa-youtube fa-2x" style="color:#cc1e1e"></i></a></li>--->
        </ul>
        <div class="text-center">
        <%= t('visitor_count') %> : <%= Ahoy::Visit.all.count %>
        </div>
        </div>
     </div>
    <hr>
    <!---------copyright---------------->
    <div class="footer-copyright py-3 footer2 text-center"> 
    <%= t('copyright') %> <%= Time.now.year %><%= t('right') %> <br />
    <%= t('made_with') %> <i class="fas fa-heart" style="color:red"></i> <%= t('mnr') %> <br />
    <%= t('product') %> <a href="https://sites.google.com/narmadainfosys.com/narmada-infosys/" target="_blank"><%= t('narmada') %></a>.
    </div>
</footer>