<!-- Header Section Begin -->
<div class="d-lg-none"><%= render 'Homepage/navmenu' %></div>
  <header class="header d-none d-lg-block">
        <!-- Header Section Begin -->

        <!-----------------nav menu with megamenu----------------------------->
<nav class="navbar navbar-expand-md navbar-light justify-content-between">

  <div class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </div>
  <div class="header__menu collapse navbar-collapse" id="navbarNav">

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "#{t('home')}", homes_index_path,:style=>'text-decoration:none'%>
      
    </li>
    <li class="nav-item">
      <%= link_to "#{t('about_us')}", aboutus_index_path,:style=>'text-decoration:none'%>
    </li>
    <li class="nav-item">
      <%= link_to "#{t('contact_us')}", contactus_index_path,:style=>'text-decoration:none' %>
    </li>


  <li class="nav-item dropdown has-megamenu">
    <a class="" href="#" data-toggle="dropdown" style="text-decoration:none"><%= t('all_services') %><i class="fas fa-caret-down"></i></a>
      <div class="dropdown-menu megamenu" role="menu">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-megamenu">
                              <h6 class="title"><%= t('transport_services') %></h6>
                              <ul class="list-unstyled">
                                  <li>
                                     <%= link_to "#{t('bus_schedule')}", bus_departures_path,:style=>'text-decoration:none' %>
                                  </li>
                              </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3">
                          <div class="col-megamenu">
                            <h6 class="title"> <%= t('business') %> </h6>
                                <ul class="list-unstyled">
                                    <li>
                                       <%= link_to "#{t('real_estates')}", realestates_path,:style=>'text-decoration:none' %>
                                      </li>
                                      <li>
                                       <%= link_to "#{t('job_vacancy')}", vacancies_path,:style=>'text-decoration:none' %>
                                      </li>
                                      <li>
                                      <%= link_to "#{t('add_business')}", listings_new_path,:style=>'text-decoration:none'%>
                                    </li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3">
                          <div class="col-megamenu">
                            <h6 class="title"><%= t('social_services') %></h6>
                                <ul class="list-unstyled">
                                    <li>
                                     <%= link_to "#{t('blood_donors')}", donors_path,:style=>'text-decoration:none' %>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>
                                     <%= link_to "#{t('pet_adoption')}", pet_adoptions_path,:style=>'text-decoration:none' %>
                                    </li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div>    
                        <div class="col-md-3">
                          <div class="col-megamenu">
                            <h6 class="title"><%= t('fashion_lifestyle') %></h6>
                                <ul class="list-unstyled">
                                    <li>
                                       <%= link_to "#{t('models')}", models_path,:style=>'text-decoration:none' %>
                                     </li> 
                                      <li>
                                       <%= link_to "#{t('places_to_visit')}", tourists_path,:style=>'text-decoration:none' %>
                                     </li> 
                                     <li><a href="http://www.sudurpasal.com/" style='text-decoration:none' target="blank"><%= t('online_shopping') %></a></li>
                                      <li><a href="http://www.cheersmnr.com/" style='text-decoration:none' target="blank"><%= t('online_fooding') %></a></li>
                                      <li><a href="http://www.cakesmnr.com/" style='text-decoration:none' target="blank"><%= t('online_cake') %></a></li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                    </div><!-- end row --> 
        </div> <!-- dropdown-mega-menu.// -->
  </li>
<span class="badge badge-pill badge-warning">
  <li class="nav-item">
      <% if user_signed_in? %>
          <%= link_to gamifications_path, class:"nav-item welcome-user", style:"text-decoration:none" do %>
            <i class="fas fa-user-circle" ></i><%= t('welcome') %> <%= current_user.name %>
          <% end %>
      <% else %>

           <%= link_to "#{t('register')}", new_user_registration_path,:style=>'text-decoration:none' %>
      <% end %>
    </li>

  <li class="nav-item">
    <% if user_signed_in? %>
        <%= link_to "#{t('sign_out')}", destroy_user_session_path, method: :delete ,:style=>'text-decoration:none', class:"login_links" %>
    <% else %>
         <%= link_to "#{t('sign_in')}", user_session_path,:style=>'text-decoration:none', class:"login_links"  %>
     <% end %>
    </li>
</span>
     
</ul>

  </div> <!-- navbar-collapse.// -->

</nav>

        <!-------------------------end of nav menu--------------------------->
    <!-- Navigation -->
    <!-- Header Section End -->   
    </header>
    <!-- Navigation -->
    <!----------hero section begin------------>
<% cache do %>
<section class="set-bg pt-5 pb-5 mt-0 align-items-center d-flex bg-dark">
   <div class="container">
    <div class="responsive-text text-white mb-2"><strong><%= t('language_select') %></strong> </div>
    <% if I18n.locale.to_s == "np" %>
        <% active_class_np = "border-warning rounded-4" %>
    <% else %>
            <% active_class_en = "border-warning rounded-4" %>
    <% end %>
    <%= link_to set_mylanguage_np_path do %>
    <span  class="btn-outline-warning rounded p-2 mx-2 border <%= active_class_np %>"><strong><%= t('nepali') %></strong><img src="https://res.cloudinary.com/di7sekeem/image/upload/v1619515739/service_mnryp/nepaila_n8dz06.png" style="height: 25px; width: 25px;" /></span>
    <% end %>
    <%= link_to set_mylanguage_en_path do %>
       <span  class=" btn-outline-warning rounded p-2 mx-2 border <%= active_class_en %>"><strong><%= t('english') %></strong><img src="https://res.cloudinary.com/di7sekeem/image/upload/v1619845675/service_mnryp/english_lang_ehccug.png"  style="height: 25px; width: 25px;" /></span>
    <% end %>

      <div class="row justify-content-center align-items-center d-flex text-center h-100 mt-2">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 class="display-5 text-light mb-2 mt-6 maintext"><strong><%= t('main_text') %></strong> </h1>
       <!----------------------------search bar------------------------------>
        <%= render partial:"Homepage/search" %>
                
        <!------------------------------------------------------------------->
        </div>
      </div>
    </div>
</section>
<% end %>
    <!-- Hero Section End -->
  