<!-- Header Section Begin -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between sticky-top">

  <div class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        MENU
          <i class="fas fa-bars"></i>
        </div>
  <div class="header__menu collapse navbar-collapse" id="navbarNav">
    
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Home", homes_index_path,:style=>'text-decoration:none'%>
    </li>
    <li class="nav-item">
      <%= link_to "About Us", aboutus_index_path,:style=>'text-decoration:none'%>
    </li>
    <li class="nav-item">
      <%= link_to "Contact Us", contactus_index_path,:style=>'text-decoration:none' %>
    </li>

  <li class="nav-item dropdown has-megamenu">
    <a class="" href="#" data-toggle="dropdown" style="text-decoration:none"> All Services<i class="fas fa-caret-down"></i></a>
      <div class="dropdown-menu megamenu" role="menu">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-megamenu">
                              <h6 class="title">Transport Services</h6>
                              <ul class="list-unstyled">
                                  <li>
                                     <%= link_to "Bus Schedule", bus_departures_path,:style=>'text-decoration:none' %>
                                  </li>
                              </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3">
                          <div class="col-megamenu">
                            <h6 class="title">Bussiness</h6>
                                <ul class="list-unstyled">
                                    <li>
                                       <%= link_to "Real Estates", realestates_path,:style=>'text-decoration:none' %>
                                      </li>
                                      <li>
                                       <%= link_to "Job Vacancy", vacancies_path,:style=>'text-decoration:none' %>
                                      </li>
                                      <li>
                                      <%= link_to "Add Bussiness", listings_new_path,:style=>'text-decoration:none'%>
                                    </li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3">
                          <div class="col-megamenu">
                            <h6 class="title">Social Services</h6>
                                <ul class="list-unstyled">
                                    <li>
                                     <%= link_to "Blood Donors", donors_path,:style=>'text-decoration:none' %>
                                    </li>
                                    
                                </ul>
                                <ul class="list-unstyled">
                                   
                                    <li>
                                     <%= link_to "Pet Adoption", pet_adoptions_path,:style=>'text-decoration:none' %>
                                    </li>
                                </ul>
                                
                            </div>  <!-- col-megamenu.// -->
                        </div>    
                        <div class="col-md-3">
                          <div class="col-megamenu">
                            <h6 class="title">Fashion and Lifestyle</h6>
                                <ul class="list-unstyled">
                                    <li>
                                       <%= link_to "Models", models_path,:style=>'text-decoration:none' %>
                                     </li> 
                                       <li>
                                       <%= link_to "Places To Visit In MNR", tourists_path,:style=>'text-decoration:none' %>
                                     </li> 
                                     <li><a href="http://www.sudurpasal.com/" style='text-decoration:none' target="blank">Online Shopping</a></li>
                                      <li><a href="http://www.cheersmnr.com/" style='text-decoration:none' target="blank">Online Fooding</a></li>
                                      <li><a href="http://www.cakesmnr.com/" style='text-decoration:none' target="blank">Online Cake</a></li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                    </div><!-- end row --> 
        </div> <!-- dropdown-mega-menu.// -->
  </li>
  
  <span class="badge badge-pill badge-warning">
  <li class="nav-item">
      <% if user_signed_in? %>
          <%= link_to gamifications_path, class:"nav-item welcome-user", style:"text-decoration:none" do %>
            <i class="fas fa-user-circle" ></i> Welcome <%= current_user.name %>
          <% end %>
      <% else %>

           <%= link_to "Register", new_user_session_path,:style=>'text-decoration:none' %>
      <% end %>
    </li>

  <li class="nav-item">
    <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete ,:style=>'text-decoration:none', class:"login_links" %>
    <% else %>
         <%= link_to "Sign In", user_session_path,:style=>'text-decoration:none', class:"login_links"  %>
     <% end %>
    </li>
</span>

</ul>

  </div> <!-- navbar-collapse.// -->

</nav>
    <!-- Navigation -->
    <!-- Header Section End -->   
     <style>
   nav .navbar-nav li a{
	color: black !important;
	}
   </style>