<div class="container">
	<div class="mnryp_word mt-2">
    	<h2 class="responsive-title"><%= t('top_listings') %></h2>
    </div>
    <div class="row">
    <% @tags.each do |tag| %>
        <div class="col-md-6 mt-2">
            <%= link_to homes_show_path(category: tag.title_en ),:style=>'text-decoration:none' do%>
                <div class="card shadow h-100 ">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="">
                                <% if tag.image.present? %>
                                    <%= cl_image_tag(tag.image, :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy",:class=>"profile2 rounded-circle",loading:"lazy") %>
                                <%end%>
                            </div>
                            <div class="text-wrap">
                                <h6 class="card-category-title ml-2 mt-2"><%= tag.title %></h6>
                            </div>
                            <div class="ml-auto">
                                <span class="badge badge-info"><%= tag.listings_count %></span>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
	        </div>
	    <%end%>
	</div>
</div>