<% content_for :title, "Notes" %>
<%= render 'Homepage/navmenu' %>
<div class="row scrolling-wrapper row flex-row ">
<% @universities.each do |university| %>
	<div class="col-md-4">
		<div class="tree ">
		    <ul>
		    	<!-------universities------------->
		        <li>
					<span class="px-2">
						<a 
						style="color:#000;" 
						data-toggle="collapse" 
						href="#<%= university.name.to_s.delete(" ") %>departments" 
						aria-expanded="true" 
						aria-controls="<%= university.name.to_s.delete(" ") %>departments">
							<i class="collapsed"><i class="fas fa-folder"></i></i>
							<i class="expanded"><i class="far fa-folder-open"></i></i>
							<%= university.name %>
						</a>
					</span>
					<!-------------departments------------->
					<div id="<%= university.name.to_s.delete(" ") %>departments" class="collapse show">
						<ul>
							<% university.university_departments.each do |department| %>
								<li>
									<span class="text-uppercase responsive-text px-2">
									  <a 
									    style="color:#000;"
									    data-toggle="collapse"
									    href="#<%= university.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %>subdepartments" 
									    aria-expanded="false" 
									    aria-controls="<%= university.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %>subdepartments">

										    <i class="collapsed"><i class="fas fa-folder"></i></i>
										    <i class="expanded"><i class="far fa-folder-open"></i></i>
										    <%= department.name %>
									  </a>
									</span>
									<!------------sub departments---------------------------->
									<div id="<%= university.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %>subdepartments" class="collapse">
										<ul>
											<% department.sub_departments.each do |sub_department| %>
												<li>
													<span class="text-uppercase responsive-text px-2">
														<a 
														style="color:#000;" 
														data-toggle="collapse" 
														href="#<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %>semesters" 
														aria-expanded="false" 
														aria-controls="<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %>semesters">

															<i class="collapsed"><i class="fas fa-folder"></i></i>
															<i class="expanded"><i class="far fa-folder-open"></i></i>
															<%= sub_department.name %>

														</a>
													</span>
													<!-----------semesters------------------>
													<div id="<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %>semesters" class="collapse">
														<ul>
															<% @semesters.each do |semester| %>
																<li>
																	<span class="responsive-text px-2">
																		<a 
																		style="color:#000;" 
																		data-toggle="collapse" 
																		href="#<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name %><%= semester.name.to_s.delete(" ") %>subjects" 
																		aria-expanded="false" 
																		aria-controls="<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name %><%= semester.name.to_s.delete(" ") %>subjects">

																			<i class="collapsed"><i class="fas fa-folder"></i></i>
																			<i class="expanded"><i class="far fa-folder-open"></i></i>
																			<%= semester.name %>

																		</a>
																	</span>
																	<!----------------semesters----------------------------->
																	<div id="<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %><%= semester.name.to_s.delete(" ") %>subjects" class="collapse">
																		<ul>
																			<% semester.subjects.where("sub_department_id=?",sub_department.id).each do  |subject| %>
																				<li>
																					<span class="responsive-text px-1">
																					<a 
																					style="color:#000;" 
																					data-toggle="collapse" 
																					href="#<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %><%= subject.name.to_s.delete(" ") %>" 
																					aria-expanded="false" 
																					aria-controls="<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %><%= subject.name.to_s.delete(" ") %>">

																						<i class="collapsed"><i class="fas fa-folder"></i></i>
																						<i class="expanded"><i class="far fa-folder-open"></i></i>
																						<%= subject.name %>

																					</a>
																					</span>
																					<!-----------------notes-------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
																					<div id="<%= university.name.to_s.delete(" ") %><%= sub_department.name.to_s.delete(" ") %><%= department.name.to_s.delete(" ") %><%= subject.name.to_s.delete(" ") %>" class="collapse">
																						<ul>
																							<li>
																								<%= link_to notes_notes_show_path(), style:"color:#000; text-decoration:none;" do %>
																									<span class="responsive-text px-1"><i class="collapsed"><i class="fas fa-folder"></i></i> Notes</span>
																								<% end %>
																							</li>
																							<li>
																							<%= link_to notes_syllabus_index_path(uni:"#{university.name.to_s.delete(" ")}",dept:"#{department.name.to_s.delete(" ")}",sub_dept:"#{sub_department.name.to_s.delete(" ")}",sem:"#{semester.name.to_s.delete(" ")}",sub:"#{subject.name.to_s.delete(" ")}"), syllabus:"syllabus", style:"color:#000; text-decoration:none;" do %>
																									<span class="responsive-text px-1"><i class="collapsed"><i class="fas fa-folder"></i></i> Syllabus</span>
																								<% end %>
																							</li>
																							<li><span class="responsive-text px-1"><i class="collapsed"><i class="fas fa-folder"></i></i> Question Papers</span></li>
																							<li><span class="responsive-text px-1"><i class="collapsed"><i class="fas fa-folder"></i></i> Case Studies</span></li>
																						</ul>
																					</div>
																					<!---------------------syllabus------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
																				
																				</li> 
																			<% end %>
																		</ul>
																	</div>
		                                    
																</li>
															<% end %>
														</ul>
													</div>
												</li>
											<% end %>
										</ul>
									</div>
								</li>
							<% end %>
						</ul>
					</div>
		        </li>
		    </ul>
		</div>
	</div>
<% end %>
</div>
<style type="text/css">.scrolling-wrapper{
	overflow-x: auto;
}</style>