<% content_for :title, "Models-MNRYP" %>
<%= render 'Homepage/navmenu' %>

<div class="container-fluid px-4 mt-4">
<div class="row" >
         <div class="col-md-12">
          <%= form_tag models_path,style: "display: inline;", :method =>"get" do %>
                <% arcy = "All"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2")do %>
                                All
                        <% end %>
                <% end %>
                <%= form_tag models_path,style: "display: inline;", :method =>"get" do %>
                <% arcy = "Kanchanpur"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2")do %>
                                Kanchanpur
                        <% end %>
                <% end %>
                <%= form_tag models_path,style: "display: inline;", :method =>"get" do %>
                <% arcy = "Dadeldhura"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
                                Dadeldhura
                        <% end %>
                <% end %>
                <%= form_tag models_path,style: "display: inline;", :method =>"get" do %>
                <% arcy = "Kailali"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
                                Kailali
                        <% end %>
                <% end %>
                <%= form_tag models_path, style: "display: inline;", :method =>"get" do %>
                <% arcy = "Baitadi"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
                                Baitadi
                        <% end %>
                <% end %>
                <%= form_tag models_path, style: "display: inline;", :method =>"get" do %>
                <% arcy = "Darchula"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
                                Darchula
                        <% end %>
                <% end %>
                <%= form_tag models_path, :method =>"get", style: "display: inline;" do %>
                <% arcy = "Bajhang"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
                                Bajhang
                        <% end %>
                <% end %>
				 <%= form_tag models_path, :method =>"get", style: "display: inline;" do %>
                <% arcy = "Doti"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
                                Doti
                        <% end %>
                <% end %>
				 <%= form_tag models_path, :method =>"get", style: "display: inline;" do %>
                <% arcy = "Achham"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
								Achham
                        <% end %>
                <% end %>
				 <%= form_tag models_path, :method =>"get", style: "display: inline;" do %>
                <% arcy = "Bajura"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "badge bg-info text-dark filter-button mt-2") do %>
                                Bajura
                        <% end %>
                <% end %>
				
        </div>
		</div>
   <div class="mb-4">
   		<button class="badge-warning badge badge-pill  text-dark filter-button mt-2" data-filter="all"> <%= t('all') %> </button>
        <button class="badge-warning badge badge-pill text-dark filter-button mt-2" data-filter="Male"> <%= t('male') %> </button>
        <button class="badge-warning badge badge-pill text-dark filter-button mt-2" data-filter="Female"> <%= t('female') %> </button>
    </div>
	<div class="row">

<% @models.each do |model| %>
	<%= link_to model_path(model), style:"text-decoration:none" do %>
		<div class="col-md-3 col-xs-12 filter <%= model.gender %>">
			<div class="card h-100 model-card" style="width: 18rem;">
				<% model.galleries.each do |gallery|%>
				<%= cl_image_tag(gallery.image, :quality=>"auto:low",:class=>"card-img-top",:fetch_format=>"auto",:flags=>"lossy",:style=>"height: 25rem;",loading:"lazy") %>
					<% break %>
				<% end %>
				<div class="card-body">
					<h6 class="card-title text-center"><%= model.name %></h6>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
</div>
</div>