<% content_for :title, "#{@model.name}-MNRYP" %>
<%= render 'Homepage/navmenu' %>

<div class="container mt-4">
	<div class="row">
		<div class="about-title clearfix">
            <h1 class="form_title"><span class="mnryp_word"><%= @model.name %></span> Age: <%= Time.now.year.to_i - @model.dob.year.to_i %> </h1>
         </div>
	</div>
	<%= link_to "View All",models_path, class:"badge bg-info text-dark ml-2", style:"text-decoration:none" %>

    <div class="card-columns">
        <% @model.galleries.each do |photo| %>
            <div class="card ">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="<%= @model.name %>"
                         data-image="<%= photo.image %>" data-target="#image-gallery">
            <%= cl_image_tag(photo.image, :quality=>"auto:low",:class=>"card-img-top img-responsive",:fetch_format=>"auto",:flags=>"lossy",loading:"lazy") %>
            </a>
           </div>
        <% end %>
    </div>
</div>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" style="height: 50rem" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>