<% content_for :title, "Add Listing-MNRYP" %>
<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
<% end %>
<%= render 'Homepage/navmenu' %>

        <div class="container">
                    <h1 class="form_title">Submit your listing to <span class="mnryp_word">MNRYP</span></h1>
          <div class="row">
              <div class="col-md-6">
              <ul >
                <li class="text-justify">Make sure to select the Business Category from the dropdown.</li>
                <li class="text-justify">The business name used in the listing must match that used offline.</li>
                <li class="text-justify">You must use an accurate physical address for your business listing.</li>
                <li class="text-justify">Listings cannot be used to promote illegal or fraudulent activities, which can result in your business being delisted from the MNRYP, along with account termination. </li>
                <li>Make sure to provide detailed srvices provided by your Business in business description section.</li>
              </ul>
              </div>
                  <div class="col-md-6">
                  <div class="shadow p-3 mb-5 bg-white rounded">

                  <%= form_for @listing, html: {class:"needs-validation", :novalidate=>true} do |f| %>
                    <div class="input-group has-validation">
                      <%= select_tag "tag_id", options_for_select(Tag.pluck(:title_en, :id)),:include_blank => 'Select Business Type',:required => true,class:"form-control mb-2" %>
                      <div class="invalid-feedback">
                       Please select a Business Category.
                      </div>
                    </div>
                    

                    <div class="input-group has-validation">
                      <%= f.text_field :name, placeholder: "Business Name",class:"form-control mt-2"  %>
                      <div class="invalid-feedback">
                        Please enter a valid Business Name.
                      </div>
                    </div>

                     <div class="input-group has-validation">
                        <%= f.text_field :address, placeholder: "Business Address",class:'form-control mt-2' %>
                        <div class="invalid-feedback">
                          Please enter a valid Business Address.
                        </div>
                    </div>

                    <div class="input-group has-validation">
                      <%= f.text_field :owner, placeholder: "Business Owner",class:"form-control mt-2" %>
                      <div class="invalid-feedback">
                        Please enter a valid Business Owner Name.
                      </div>
                    </div>

                    <div class="input-group has-validation">
                      <%= f.telephone_field :phone, placeholder: "Business Phone",class:"form-control mt-2" %>
                      <div class="invalid-feedback">
                        Please enter a valid Phone Number.
                      </div>
                    </div>

                    <div class="input-group has-validation">
                      <%= f.text_area :description, placeholder: "Business description",class:"form-control mt-2" %>
                      <div class="invalid-feedback">
                        Please enter a Business Description.
                      </div>
                    </div>

                    <div class="d-flex justify-content-center">
                    <%= f.submit "Add Listing" , class: "button"%>
                    </div>
                    <%= recaptcha_action('listing') %>
                  <% end %>
                  </div>
                  </div>
          </div>
       </div>

<script type="text/javascript">
  // Example starter JavaScript for disabling form submissions if there are invalid fields

</script>