<% content_for :title, "Bus Departure-MNRYP" %>
<%= render 'Homepage/navmenu' %>
<!-------------------logic to produce all the departure dates for bus this year-------------
<% depart_dates=[] %>
<% initial_date = DateTime.now %>
<% current_year = "2021" %>
<% total_busses = 5 %>
<% while initial_date.to_s.split("-")[0] == current_year do 

	initial_date=initial_date + total_busses.days
	depart_dates=depart_dates.push(initial_date.to_s)
	
end %>
-------------------->
<!----------------------------------------------------->
<style type="text/css">

.fixed { 
    height:600px; 
   overflow:hidden; 
   }
.scrollit {
   height:100vh;
   overflow-y:scroll; 

}
a{
    text-decoration: none !important;
}
</style>

<div class="row mb-0">
    <div class="col-md-3 fixed">
    <div class="border-bottom ml-2">
        <h4 class="mnryp_word"> <%= t('bd_filter') %> <i class="fas fa-filter"></i>
        </h4>
    </div>

  <div id="all_filters">
    <div class="py-2 border-bottom ml-3">
    <h6 class="font-weight-bold"><%= t('bd_place_filter') %> </h6>
        <div class="text-warning"><span class="fa fa-minus"></span></div>
    <div class="py-2 border-bottom ml-3">
		  <div class="form-group row">
		    <label for="destination_search" class="col-form-label col-form-label-sm"><%= t('bd_mnr_to') %> </label>
		    <div class="ml-1">
		      <input type="text" class="form-control form-control-sm" placeholder="Destination" id="destination_search" onkeyup="busFilter()">
		    </div>
		  </div>
		  <!-----<div class="form-group row">
		    <label for="colFormLabelSm" class="col-form-label col-form-label-sm">MNR From </label>
		    <div class="ml-1">
		      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Coming From?">
		    </div>
		  </div>---------->
   	 </div>
	</div>
    
    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold"><%= t('bd_depart_date_filter') %> </h6>
        <div class="text-warning"><span class="fa fa-minus"></span></div>
		<input type="date"  placeholder="Select Departure Date" id="datefilter" onchange="busFilter()" />
    </div>

    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold"><%= t('yatayat') %> </h6>
        <div class="text-warning"><span class="fa fa-minus"></span></div>
        <select id="yatayaat" name="yatayaat" class="search form-control" onchange="busFilter()">
		  <option value="all" selected="selected"><%= t('all') %> </option>
		  <option value="Mahakali"> <%= t('maahakali') %> </option>
		  <option value="Sunaulo"><%= t('sunaulo') %> </option>
		  <option value="Pawandoot"><%= t('pawandut') %> </option>
		  <option value="Shuklaphanta"><%= t('suklafata') %> </option>
		  <option value="Management"><%= t('bd_mngt') %> </option>
		</select>
    </div>

    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold"><%= t('bus_type_filter') %> </h6>
        <div class="text-warning"><span class="fa fa-minus"></span></div>
          <select name="sort" id="bus_type" onchange="busFilter()">
              <option value="All" selected="selected"><b><%= t('all') %> </b></option>
              <option value="AC"><b><%= t('ac') %> </b></option>
              <option value="Delux"><b><%= t('delux') %> </b></option>
              <option value="Hayse"><b><%= t('hiace') %> </b></option>
          </select>
    </div>
</div> 

    </div>
                
    <div class="col-md-9 scrollit mt-4">
							 <div class="row" id="myItems">
                <% if params[:destination] %>
                  <% @busdeparture.where("destination=?",params[:destination]).each do |depart|%>
                        <div class="col-md-4 offset-md-0 offset-sm-1 mt-2 card">
                            <div class="card-body">
                              <h4><span class="badge badge-pill badge-dark"><%= depart.bus_number %></span></h4>
                              <span class="bus_type badge badge-warning"><%= depart.bus_type %><span style="color:#ffc107">ALL</span></span>
                              <h6 class="destination"><b>MNR To <span id="burgundy" class=""><%= depart.destination %></b></span> </h6>
                              
                                <h6 style="display:none"><b><%= t('depart_date') %>  <span id="burgundy" class="date"><%= depart&.departure_dates %></b></span></h6>
                                <h6 class="font-weight-bold company">
                                  <%= depart.company %> <span style="color:#ffff">ALL</span></h6>
                                <a class="mt-2" href="tel:<%= depart.phone_number %>"><h6 class="font-weight-bold text-primary"><i class="fas fa-phone-alt mr-2"></i><%= depart.phone_number %></h6></a>
                            </div>
                        </div>
                      <% end %>
                <% else %>
                    <% @busdeparture.each do |depart|%>
                        <div class="col-md-4 offset-md-0 offset-sm-1 mt-2 card">
                            <div class="card-body">
                              <h4><span class="badge badge-pill badge-dark"><%= depart.bus_number %></span></h4>
                              <span class="bus_type badge badge-warning"><%= depart.bus_type %><span style="color:#ffc107">ALL</span></span>
                              <h6 class="destination"><b>MNR To <span id="burgundy" class=""><%= depart.destination %></b></span> </h6>
                                
                                <h6 style=""><b><%= t('depart_date') %>  <span id="burgundy" class="date"><%= depart&.departure_date %></b></span></h6>
                                <h6 class="font-weight-bold company">
                                  <%= depart.company %> <span style="color:#ffff">ALL</span></h6>
                                <a class="mt-2" href="tel:<%= depart.phone_number %>"><h6 class="font-weight-bold text-primary"><i class="fas fa-phone-alt mr-2"></i><%= depart.phone_number %></h6></a>
                            </div>
                        </div>
                      <% end %>
                <% end %>
                        
                    </div>
         </div>
</div>



<script type="text/javascript">
	
	function busFilter(){

      input = document.getElementById("destination_search");
      filter_place = input.value.toUpperCase();
      filter_company = document.getElementById("yatayaat").value.toUpperCase();
      filter_date = document.getElementById("datefilter").value;
      filter_bus_type =document.getElementById("bus_type").value.toUpperCase();

      cardContainer = document.getElementById("myItems");
      cards = cardContainer.getElementsByClassName("card");

      for (i = 0; i < cards.length; i++) {
        dest_place = cards[i].querySelector(".card-body .destination");
        company_type = cards[i].querySelector(".card-body .company");
        dest_date = cards[i].querySelector(".card-body .date");
        bus_type = cards[i].querySelector(".card-body .bus_type");

        if (dest_place.innerText.toUpperCase().indexOf(filter_place) > -1 && 
          company_type.innerText.toUpperCase().indexOf(filter_company) > -1 && 
          dest_date.innerText.toUpperCase().indexOf(filter_date) > -1 &&
          bus_type.innerText.toUpperCase().indexOf(filter_bus_type) > -1) {

            cards[i].style.display = "";

        } else {
            cards[i].style.display = "none";
        }
    }

    }


</script>