<%= form_for @vacancy,html: {} do |f| %>

<!--------------Errors-------------------------------------->
<% if @vacancy.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <% @vacancy.errors.full_messages.each do |message|%>
        <p class="responsive-text"><%= message %> </p>
      <%end%>
  </div>
<%end%>
<!------------------------------------------------------------------------------->

	<div class="input-group has-validation">
		<%= f.text_field :company_name, placeholder: "#{t('job_placeholder_1')}",class:"form-control mt-2"%>
      <div class="invalid-feedback">
         Please enter a valid Company Name.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_field :job_title, placeholder: "#{t('job_placeholder_2')}",class:"form-control mt-2"%>
      <div class="invalid-feedback">
         Please enter a valid Job Title.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_field :location, placeholder: "#{t('job_placeholder_3')}",class:"form-control mt-2"%>
      <div class="invalid-feedback">
         Please enter a valid Location.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.select :job_category, ['Arts', 'Business', 'Education', 'Law Enforcement', 'Media', 'Medical', 'Service Industry', 'Technology','Hotel','Others'],{include_blank: "#{t('job_placeholder_4')}"},{class:"form-control mt-2", required:true} %>
      <div class="invalid-feedback">
         Please enter a valid Job Category.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.select :job_level, ['Entry-level','Intermediate','Mid-level','Senior or Executive-level'],{include_blank:"#{t('job_placeholder_5')}"}, {class:"form-control mt-2", required:true} %>
      <div class="invalid-feedback">
         Please enter a valid Job Level.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.number_field :no_of_vacancy, placeholder: "#{t('job_placeholder_6')}",class:"form-control mt-2 mt-2"  %>
      <div class="invalid-feedback">
         Please enter a valid Number Of vacancy.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_field :offered_salary, placeholder: "#{t('job_placeholder_7')}",class:"form-control mt-2"  %>
      <div class="invalid-feedback">
         Please enter a valid Salary.
      </div>
    </div>
    <%= f.label :apply_before, "#{t('job_placeholder_8')}", class:"mt-2" %>
    <div class="input-group has-validation">
	<%= f.date_field :apply_before, placeholder: "Apply Before",class:"form-control"  %>
      <div class="invalid-feedback">
         Please select a Date.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.select :education_level, ['Associate','Bachelors','Masters','Doctoral Degrees','None'],{include_blank:"#{t('job_placeholder_9')}"}, {class:"form-control mt-2", required:true} %>
      <div class="invalid-feedback">
         Please enter a valid Educational Level.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_field :experience_required, placeholder: "#{t('job_placeholder_10')}",class:"form-control mt-2 mt-2"  %>
      <div class="invalid-feedback">
         Please enter a valid Expereience Required.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_area :job_desciption, placeholder: "#{t('job_placeholder_11')}",class:"form-control mt-2"  %>
      <div class="invalid-feedback">
         Please enter a valid Job Description.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_area :about_company, placeholder: "#{t('job_placeholder_12')}",class:"form-control mt-2"  %>
      <div class="invalid-feedback">
         Please enter a valid Comapany Details.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_field :professional_skill, placeholder: "#{t('job_placeholder_13')}",class:"form-control mt-2", :required => true %>
      <div class="invalid-feedback">
         Please enter a valid Skills required.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.text_field :other_specification, placeholder: "#{t('job_placeholder_14')}",class:"form-control mt-2", :required => true %>
      <div class="invalid-feedback">
         Please enter a valid Specifications.
      </div>
    </div>

    <hr />
    	<%= f.label :emailid, "#{t('job_placeholder_15')}" %>
    <div class="input-group has-validation">
		<%= f.text_field :emailid, placeholder: "#{t('job_placeholder_16')}",class:"form-control mt-2" %>
      <div class="invalid-feedback">
         Please enter a valid Email Address.
      </div>
    </div>
    <div class="input-group has-validation">
    	<%= f.telephone_field :contactnumber, placeholder: "#{t('job_placeholder_17')}",class:"form-control mt-2"%>
      <div class="invalid-feedback">
         Please enter a valid Contact Number.
      </div>
    </div>
	<hr />

	<div class="d-flex flex-row">
		<div class="flex-fill">
			<%= link_to :back do %><span class="cancel-button form-control font-weight-bold text-center"><%= t('cancel')%></span><% end %>
		</div>
		<div class="flex-fill">
		<%= f.submit "#{t('add_vacancy')}" , class:"button form-control font-weight-bold" %>
		</div>
	</div>

	<%= recaptcha_action('vacancy') %>
<% end %>