 <% content_for :title, "New Vacancy-MNRYP" %>
 <%= content_for :recaptcha_js do %>
    <%= include_recaptcha_js %>
  <% end %>
  <%= render 'Homepage/navmenu' %>
  
          <div class="container">
                      <h1 class="form_title"><%= t('job_vacancy_title') %> <span class="mnryp_word">MNRYP</span></h1>
            <div class="row">
              <div class="col-md-6">
                <ul >
                  <li class="text-justify"><%= t('job_vacancy_subtitle') %></li>
                    <li class="text-justify"><%= t('job_vacancy_text_1') %></li>
                    <li class="text-justify"><%= t('job_vacancy_text_2') %></li>
                    <li class="text-justify"><%= t('job_vacancy_text_3') %></li>
                    <li class="text-justify"><%= t('job_vacancy_text_4') %></li>
                    <li class="text-justify"><%= t('job_vacancy_text_5') %></li>
                    <li class="text-justify"><%= t('job_vacancy_text_6') %></li>
                    <span class="text-justify"><%= t('thanks_text') %></span>
                </ul>
              </div>
                <div class="col-md-6">
                <div class="shadow p-3 mb-5 bg-white rounded">
                <%= render partial:"form" %>
                  
                </div>
                </div>
            </div>
       </div>
   
       
       