<% content_for :title, "Thank You-MNRYP" %>
  <%= render 'Homepage/navmenu' %>
  
      <div id="addlistform" class="about-section paddingTB60 gray-bg">
          <div class="container">
	           <div class="about-title clearfix text-center">
	              <h1>Thank You for Your Donation towards<span> <%= @project.project_name %></span></h1>
	    		</div>
	    		<div class="text-center">
	    			<div class="about-title clearfix text-center">
						<span class="responsive-text">Payment Details</span>
					</div>
					<% payment_details = @project.payment_details.split(";") %>
					<% payment_details.each do |details| %>
					<pre class="text-wrap border"><%= details %></pre>
					<% end %>
				</div>
         </div>
       </div>
   
       
<div class="container">
	<div class="about-title clearfix text-center">
		<span class="responsive-text">You can use any Banking Services or Mobile Wallets.</span>
	</div>
	<div class="row">
		<% @payment_links.each do |payment_link|%>
			<div class="col-md-2 col-6 mt-2">
				<a href="<%= payment_link[:links] %>" target="_blank">
					<figure class="figure">
					 	<img src="<%= payment_link[:img] %>" alt="<%= payment_link[:name] %>" loading="lazy" class="card-image-professional" />
					 	  <figcaption class="figure-caption text-center"><%= payment_link[:name] %></figcaption>
					</figure>
				</a>
			</div>
		<% end %>
	</div>
</div>

