<% content_for :title, "Nepaila-MNRYP" %>
<%= render 'Homepage/navmenu' %>

<!-- Project Cards -->

<div class="container">
        <div class="row mb-5">
            <% @projects.each do |project| %>
                <div class="col-md-4 mb-4">
                    <div class="card card-inverse card-info">
                        <%= cl_image_tag(project.coverimage, :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy" , :class=>"card-image", loading:"lazy") %>
                        <div class="card-block">
                            <figure class="profile">
                                <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                            </figure>
                            <h4 class="card-title mt-3"><%= project.project_name %></h4>
                            <div class="meta card-text">
                                <a>For - <%= project.foundation_name %></a>
                            </div>
                            <div class="card-text">
                                Organised By - <%= project.organized_by %>
                            </div>
                        </div>
                        <div class="card-footer">
                            <% time_diff = Time.now - project.created_at %>
                            <small><%= Time.at(time_diff.to_i.abs).utc.strftime "%H:%M:%S" %> ago</small>
                             <%= link_to project_path(project), class:"float-right btn btn-info help float-right btn-sm" do %>
                           View More
                          <% end %>
                        </div>
                    </div>
                </div>
            <% end %>   
        </div>
</div>
