<% content_for :title, "#{@project.project_name}-MNRYP" %>
<%= render 'Homepage/navmenu' %>


<div id="app" class="crowd-funding pt-2">

  <div class="crowd-funding__header" style='background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("<%= @project.coverimage %>");background-size: cover;
  background-position: center;'>
  	<!---------------------------------------------------------------->
  	<div class="row mt-8">
  		<div class="col-md-4 my-auto">
		  			<%= link_to new_project_donation_path(@project) do %>
		  			    <div class="about-title clearfix">
		                    <h1><span class="help text-white px-2">DONATE NOW</span></h1>
		                </div>
		            <% end %>
        </div>

  		<div class="col-md-4 my-auto mx-auto">
  			<div class="about-title clearfix mt-8">
                    <h1><span class="mnryp_word"><%= @project.project_name %></span></h1>
					            <%= @project.tagline %>
					</div>

  		</div>
  		<div class="col-md-4 my-auto mt-8">
  			<div  class="float-right">
			<h1><%= @number_of_people %></h1>
			<p class="days-to-go">people donated</p>
			<div class="funding-counter">
				<p><% remaining_amount = @total_amount - @total_amount_spent %>
				<strong>Rs.<%= number_with_delimiter(@total_amount, :delimiter => ',') %> Raised</strong><br >
				<strong>Rs.<%= number_with_delimiter(@total_amount_spent, :delimiter => ',') %> Spent</strong><br>
				<strong>Rs.<%= number_with_delimiter(remaining_amount, :delimiter => ',') %> Remaining</strong>
				</p>
				<p></p>
				<div class="progress" style="height: 10px;">
				    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
      </div>
  </div>
  	<!---------------------------------------------------------------->
  </div>
</div>
</div>

<!---------------all the images related to project------------------------------->
<!------ Include the above in your HEAD tag ---------->

<div class="container my-2">
	<div class="row">
		<% @project_gallery.each do |gallery| %>
		<div class="col-md-3 col-sm-4 col-6">
					<%= cl_image_tag(gallery.image, :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy" , :class=>"img-fluid", loading:"lazy") %>
			</div>
		<% end %>
    </div>
</div>
<!--------------------------------------------------------------------------------------->
<div class="container mt-2">
	<div class="row">
		<div class="col-md-6">
			<div class="mnryp_word"><span class="fluid-title">Project Description</span></div>
			<div class="text-muted text-justify"><%= @project.project_description %></div>
		</div>
		<div class="col-md-6">
			<div class="mnryp_word"><span class="fluid-title">How can you help?</span></div>
			<div class="text-muted text-justify">Click on the Donate now button, fill in your details for the record of MNRYP. You will find all the payment details in the same page. You can make the payment from description given there.
			</div>
			<%= link_to new_project_donation_path(@project) do %>
				<div class="about-title clearfix my-2">
                    <h1><span class="help px-2 text-white">DONATE NOW</span></h1>
                </div>
            <% end %>
		</div>
		
	</div>

</div>

<div class="container mt-4 my-2 donationDiv">
	<div class="row">
		<div class="col-md-6">
			<div class="mnryp_word"><span class="fluid-title"><h2>Project Expense Details<h2></span></div>
			<ul class="list-group">
				<% @project_expense.each do |expn| %>
					<li class="list-group-item">
						<div class="d-flex">
						  <div class="flex-grow-1"><%= expn.expenditure_title %></div>
						  <div>Rs.<%= expn.spent_amount %> /-</div>
						  <div class="ml-2">
						  <span img-src="<%= expn.biils %>" expense-title="<%= expn.expenditure_title %>" spent-amount="<%= expn.spent_amount %>" onclick="modal_value(this)" style="cursor:pointer" class="badge rounded-pill bg-info text-dark" data-toggle="modal" data-target="#billModal">
  									View Bill
							</span>
						</div>
					     </li>
				<% end %>
			</ul>
		</div>
		<div class="col-md-6">
			<div class="mnryp_word"><h2>Donors Till Date(<%= @number_of_people %>)</h2></div>
			<div class="row">
				<% @donors.each_with_index do |donor,index| %>
					<div class="col-md-6 mt-2">
                                <div class="card h-100">
                                    <div class="card-body text-center">
										<% if donor.image.present? %>
											<%= cl_image_tag(donor.image, :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy",:class=>"img-fluid card-image-professional",loading:"lazy") %>
										<% else %>
											<%= cl_image_tag("https://res.cloudinary.com/di7sekeem/image/upload/v1614668262/mnryplogo_arr1rm.png", :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy",:class=>"img-fluid card-image-professional",loading:"lazy") %>
										<%end%>
                                        <h4 class="card-title responsive-title"><%= donor.donor_name %></h4>
                                        <% if donor.country? %>
                                        	<p class="card-text"><span class="badge rounded-pill bg-warning text-dark p-2 profession">(<%= donor.country %>)</span></p>
                                        <% end %>
                                         <p>Rs.<%= donor.donation_amount %></p>
                                    </div>
                                </div>
                            </div>
				<% end %>
			</div>
			
		</div>
	</div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="billModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5><span class="ml-4 my-auto text-muted" id="spent_amount"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
         <img id="bills-image" src="" alt="bill" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	function modal_value(e){
		var img_src = e.getAttribute("img-src");
		var proj_title = e.getAttribute("expense-title");
		var spent_amount = e.getAttribute("spent-amount");

		document.getElementById("bills-image").src=img_src;
		document.getElementById("exampleModalLabel").innerHTML= proj_title;
		document.getElementById("spent_amount").innerHTML= "Rs." + spent_amount;
	
	}
</script>