
<%= form_for @realestate  do |f| %> 

<!--------------Errors-------------------------------------->
  <% if @realestate.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <% @realestate.errors.full_messages.each do |message|%>
          <p class="responsive-text"><%= message %> </p>
        <%end%> 
    </div>
  <%end%>
  <!------------------------------------------------------------------------------->
 <!-------------hidden field to capture user id------------------->
    <%= f.hidden_field :user_id, value: "#{current_user.id}"  %> 
    <%= f.hidden_field :ptype, value: @type  %>
  <!------------------------------------------------>
  
            <div class="input_field"> 
              <%= f.text_field :seller_name, placeholder: "Seller Name", :required => true%>
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> 
                    <%= f.text_field :seller_phone, placeholder: "Seller Phone", :required => true%>
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> 
                <% if @type == "rent"%>
                    <%= f.text_field :price, placeholder: "Renting Price", :required => true%>
                    <% else %>
                    <%= f.text_field :price, placeholder: "Selling Price", :required => true%>
                    <% end %>
                </div>
              </div>
            </div>
            <div class="input_field"> 
              <%= f.text_field :propertyname, placeholder: "Property Name", :required => true%>
            </div>
            <div class="input_field"> 
              <%= f.text_field :address, placeholder: "Address", :required => true%>
            </div>
            <div class="input_field"> 
              <%= f.text_field :description, placeholder: "Add Description", :required => true%>
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> 
                  <%= f.text_field :latitude, placeholder: "Latitude"%>
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> 
                  <%= f.text_field :longitude, placeholder: "Longitude"%>
                </div>
              </div>
            </div>
            <%# -----------options for buton select----------------- %>
          

            <button type="button" onclick="housee()" id="house" class="btn btn-outline-warning ">House</button>
            <button type="button" onclick="flatt()" id="flat"  class="btn btn-outline-warning ">Flat</button>
            <button type="button" onclick="roomm()" id="room"  class="btn btn-outline-warning ">Room</button>
            <button type="button" id="shutter" onclick="shutterr()" class="btn btn-outline-warning">Shutter</button>
                          <%= f.hidden_field :pfor, id: "my_house", value: ""  %>
            <div id="pages">
              <div id="house" class="" style="display: none;">
              <%= render partial: "rent_house", locals: {f: f} %>
              </div>
              <div id="flat" class="" style="display: none;">
                <%= render partial: "rent_flat", locals: {f: f}%>
              </div>
              <div id="room" class="" style="display: none;">
                  <%= render partial: "rent_room", locals: {f: f}%>
              </div>
              <div id="shutter" class="" style="display: none;">
                  <%= render partial: "rent_shutter", locals: {f: f}%>
              </div>
            </div>  
            <%# ------------------------------------------------------- %>
 <%= f.submit "#{t('save')}" , class:"button form-control text-white font-weight-bold mt-2" %>

<% end %>  
<%# -------------form jquery----------- %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<%# ----------------------------------- %>
<script>
function housee(){
	var txt = "house";
	document.getElementById("my_house").value = txt;
  

}
function flatt(){
	var txt = "flat";
	document.getElementById("my_house").value = txt;
  
}
function roomm(){
	var txt = "room";
	document.getElementById("my_house").value = txt;
  	
}
function shutterr(){
	var txt = "shutter";
	document.getElementById("my_house").value = txt;
  
}
</script>