<div class="row clearfix">

    <div class="col_half">
    <div class="input_field"> 
        <%= f.select :flatBedroom, options_for_select([["No. of Bedroom", ""], "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight"], selected: f.object.flatBedroom) %>
    </div>
    </div>
    <div class="col_half">
    <div class="input_field"> 
        <%= f.select :flatKitchen, options_for_select([["No. of Kitchen", ""], "One", "Two", "Three", "Four"], selected: f.object.flatKitchen) %>
    </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col_half">
    <div class="input_field"> 
        <%= f.select :flatHall, options_for_select([["No. of Hall", ""], "One", "Two", "Three", "Four"], selected: f.object.flatHall) %>
    </div>
    </div>
    <div class="col_half">
    <div class="input_field"> 
        <%= f.select :flatBathroom, options_for_select([["No. of Bathroom", ""], "One", "Two", "Three", "Four", "Five"], selected: f.object.flatBathroom) %>
    </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col_half">
    <div class="input_field"> 
        <%= f.select :flatFloor, options_for_select([["Select Floor", ""], "Ground", "First", "Second", "Third", "Fourth", "Fifth", "Sixth"], selected: f.object.flatFloor) %>
    </div>
    </div>
    <div class="col_half">
    <div class="input_field" > 
       <%= f.label "Balcony", style: "font-size: 100%;" %>
    <%= f.check_box :baranda %> 
    </div>
    </div>
</div>
<div class="text-muted"><%= t('marketplace_placeholer_5') %></div>
            <%= f.fields_for :realestate_images do |p| %>
                <div class="input-group has-validation">
                   <%= p.file_field :image, direct_upload: true,:multiple => true, class:"form-control",name: "realestate_images[image][]" %>
                   <div class="invalid-feedback">
                      Please upload property Images.
                    </div>
                </div>
                 <%= p.hidden_field :image_cache %>
           <% end %>
     <pre><%= t('marketplace_placeholer_6') %></pre>
     <hr />
