
<link rel="stylesheet" href="login.scss">
	<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto" style="background-image:'';">
		<div class="card card0 border-0">
			<div class="row d-flex">
				<div class="col-md-6">
					<div class="card1 pb-5">
						<div class="row px-3 justify-content-center mt-4 mb-5 border-line">
							<%= cl_image_tag("https://res.cloudinary.com/di7sekeem/image/upload/v1614668262/mnryplogo_arr1rm.png", :quality=>"auto:low",:class=>"image",:fetch_format=>"auto",:flags=>"lossy",:loading=>"lazy",:size=>"400") %> 
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="login-wrap">
						<div class="login-html">
							<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab font-weight-bold">Sign In</label>
							<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
								<div class="login-form">
									<div class="sign-in-htm">
										<div class="group">
											<label for="user" class="label font-weight-bold">Username or Email</label>
											<%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder:"Enter Your Email" %>
										</div>
										<div class="group">
											<label for="pass" class="label font-weight-bold">Password</label>
											<%= f.password_field :password, autocomplete: "current-password",class:"form-control" ,placeholder:"Enter Your Password" %>
										</div>
										<div class="group">
											<%= f.submit "Log in",class:"btn btn-success form-control" %>
										</div>
										<div class="hr"></div>
									</div>
									<div class="row mb-4 px-3"> <strong class="font-weight-bold">Don't have an account? 
										<%= link_to "Register", new_registration_path(resource_name),class:"text-danger" %></strong> </div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





