<% content_for :title, "MNR Forum-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>

<style type="text/css">
   @media only screen and (min-width: 768px) {
    .scrollit {
       height:100vh;
       overflow-y:scroll; 
       :-webkit-scrollbar {
        display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
}
 }

</style>
<div class="container-fluid my-2">
<div class="row">
    <div class="col-md-3 scrollit">
    <% if user_signed_in? %>
            <div class="card">
                <div class="profile-card">
                    <center class="mt-2">
                    <% if !current_user.image_url.nil? %>
                        <div class="user-thumb-profile text-center font-weight-bold bg-warning">
                             <%= cl_image_tag(current_user.image, :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy", loading:"lazy",class:"img-fluid") %>
                        </div>
                    <% else %>
                        <div class="user-thumb-profile text-center py-2 font-weight-bold bg-warning">
                            <img src="" alt="<%= current_user.name.split("")[0] %>" class="img-responsive" />
                        </div>
                    <% end %>
                    </center>
                   
                        <div class="text-center text-primary font-weight-bold"><%= current_user.name %></div>
                        <div class="text-center text-primary responsive-text ">
                            <%= pluralize(@profile_post_count ,'Post')%> | <%= pluralize(current_user.followers_count ,'Follower')%>
                        </div>
                </div>
            </div>
            
            <div class="my-2">
                    <div class="text-center px-2" id="form_post">
                        <%= render partial: "form" %>
                    </div>
            </div>
            
        <% else %>
        <%= link_to user_session_path do %>
                <div  class="btn-outline-danger rounded mx-2 my-2 p-2 border text-center">Log In To Post.</div>
            <% end %>
        <% end %>
        <hr />
        <!-------------Poll section---------------------------->
        
            <section class="poll-section">
    <span class="text-center responsive-text text-warning font-weight-bold">MNRYP-Polls</span>
    <% @polls.each do |poll| %>
        <div class="card p-2">
            <div class="card-title font-weight-bold">
                <%= poll.question %>
            </div>
            <div class="card-content">
                    <div id="poll-<%= poll.id %>">
                        <%= render partial:"polls",locals:{poll:poll} %>
                    </div>
            </div>
        </div>
    <% end %>
</section>
         
            <!-------------------------------------------------->
    </div>
    <div class="col-md-6 scrollit">
        <%= render partial:"postcard" %>
    </div>
    <div class="col-md-3 scrollit">
        <div class="container text-muted font-weight-bold">
            <span class="text-center">Members Of MNR_Forum</span>
            <% User.joins(:posts).group('users.id').having('count(posts.id) > 0').each do |member| %>
                <div class="responsive-text text-primary">
                    <%= member.name %> (<%= pluralize(member.posts.count ,'post')%> | <%= pluralize(member.followers_count ,'Follower') %>)
                </div>
            <% end %>
        </div>
    </div>
</div>
</div>
